.home {
  background: hsl(180, 52%, 96%);
  min-height: 100vh;
  .home__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .home__mainFc {
      background: #fff;
      width: 1000px;
      max-width: 90%;
      margin-top: 2rem;
      padding: 1em 0rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-shadow: -2px 8px 20px hsla(180, 29%, 50%, 0.431);

      button {
        padding: 0.5rem;
        font-size: 1rem;
        margin-right: 0.5rem;
        background: hsl(180, 52%, 96%);
        color: hsl(180, 29%, 50%);
        border: none;
      }
    }
  }
  .home__input-field {
    padding: 1rem;
    max-width: 1000px;
    width: 70%;
    border-radius: 10px;
    outline: none;
    border: none;
    font-size: 1rem;
    transform: translateY(-50%);
    box-shadow: -2px 8px 20px hsla(180, 29%, 50%, 0.431);
  }
  .home__left {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    .home__left1 {
      display: flex;
      img {
        border-radius: 50%;
        object-fit: cover;
        height: 10vh;
      }
    }
    .home__left2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 1rem;
    }
    .home__upper,
    .home__lower {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 1rem;
      margin-bottom: 1rem;
      h5 {
        color: hsl(180, 29%, 50%);
      }
      button {
        border-radius: 20px;
        margin-left: 0.4rem;
        background: hsl(180, 29%, 50%);
        color: hsl(180, 52%, 96%);
      }
    }
    .home__lower {
      p {
        color: hsl(180, 8%, 52%);
        margin-right: 1rem;
      }
    }
  }
  @media (max-width: 500px) {
    .home__mainFc {
      flex-direction: column;
    }
    .home__right {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }
  }
}
